* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: rgb(145, 145, 145);
}

#items {
  list-style-type: none;
}

#container {
  font-family: "Crimson Text", Georgia, serif;
  font-size: 14pt;
  width: 80%;
}

#hi {
  font-family: "Crimson Text", Georgia, serif;
  font-weight: bolder;
  font-size: 30pt;
  list-style-type: none;
}

#joke {
  background-color: rgb(145, 145, 145);
  list-style-type: none;
}

#joke a:link, #joke a:visited {
  display: block;
  font-weight: bold;
  padding: 4px;
  font-family: "Roboto", "Lato", sans-serif;
  width: auto;
  text-align: center;
  background-color: rgb(145, 145, 145)
}

#joke a:hover, #joke a:active {
    background-color: rgb(57, 141, 237);
}

#images {
  background-color: rgb(145, 145, 145);
  width: auto;
}

img {
  border: none;
}

#footer {
  background-color: rgb(255, 255, 255);
  font-family: "Crimson Text", "Times New Roman", serif;
  font-size: 10pt;
  text-align: right;
}

#nav {
  font-size: 14pt;
  list-style-type: none;
  padding: 0px;
}

#nav a:link, #nav a:visited {
  display: block;
  font-weight: bold;
  padding: 4px;
  font-family: "Roboto", "Lato", sans-serif;
  width: auto;
  text-align: center;
  background-color: rgb(145, 145, 145);
  padding: 0px;
}

#nav a:hover, #nav a:active {
  background-color: rgb(57, 141, 237);
}

#nav {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  #nav {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-width: 375px) {
  .image1{
    margin-right: auto;

  }
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "a b c d"
}

.image1 {
  grid-area: a;
}

.image2 {
  grid-area: b;
}

.image3 {
  grid-area: c;
}

.image4 {
  grid-area: d;
}
