* {
box-sizing: border-box;
}

body {
  background-color: rgb(145, 145, 145);
}

#items {
  list-style-type: none;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: none;
}

#container {
  font-family: "Crimson Text", Georgia, serif;
  font-size: 14pt;
  width: 80%;
}

div ul {
  display: flex;
  justify-content: space-between;
}

#hi {
  font-family: "Crimson Text", Georgia, serif;
  font-weight: bolder;
  font-size: 30pt;
  list-style-type: none;
  text-align: center;
}

#joke {
  background-color: rgb(145, 145, 145);
  list-style-type: none;
  align-items: center;
}

#joke a:link, #joke a:visited {
  display: block;
  font-weight: bold;
  padding: 4px;
  font-family: "Roboto", "Lato", sans-serif;
  width: auto;
  text-align: center;
  background-color: rgb(145, 145, 145)
}

#joke a:hover, #joke a:active {
    background-color: rgb(57, 141, 237);
}

#images {
  background-color: rgb(145, 145, 145);
  width: auto;
  display: flex;
  justify-content: space-between;
}

img {
  border: none;
  align-items: center;
}

#footer {
  background-color: rgb(255, 255, 255);
  font-family: "Crimson Text", "Times New Roman", serif;
  font-size: 10pt;
  text-align: right;
}

nav {
  font-size: 14pt;
  list-style-type: none;
  padding: 0px;
}

nav a:link, #nav a:visited {
  display: block;
  font-weight: bold;
  padding: 4px;
  font-family: "Roboto", "Lato", sans-serif;
  width: auto;
  text-align: center;
  background-color: rgb(145, 145, 145);
  padding: 0px;
}

nav a:hover, #nav a:active {
  background-color: rgb(57, 141, 237);
}

nav {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  nav {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-width: 300px) {
  .image1{
    margin-right: 10px;
  }
}

section {
  margin-bottom: 0.5em;
}

#quotes {
  width: 80%;
}

.cards {
  margin: 0 -10px;
  padding: 20px;
  padding-bottom: 20px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  gap: 20px;
  grid-template-areas:
    "a b c"
    "a d e"
    "f f e";
  max-width: 80%;
}

.cards li {
  background-color: rgb(57, 141, 237);
  padding: 10px;
  border-radius: 5px;
}

.card1{
  grid-area: a;
}

.card2 {
  grid-area: b;
}

.card3 {
  grid-area: c;
}

.card4 {
  grid-area: d;
}

.card5 {
  grid-area: e;
}

.card6 {
  grid-area: f;
}

@media screen and (min-width: 450px) {

  nav ul {
    flex-flow: row;
    justify-content: center;
  }

}

@media screen and (min-width: 600px) {
  #container2 {
    width: 80%;
  }
}

nav ul li {
  display: block;
  border-top: 1px  rgb(57, 141, 237) solid;
  align-content: flex-start;
  padding: 2.5%;
}

nav a {
  display: block;
  text-decoration: none;
  padding: 20px 30px;
}

header {
  display: flex;
  flex-flow: row;
  background-color: rgb(57, 141, 237);
  margin:0;
  padding: 0 10px;
}

.menu-trigger {
  order: 1;
  font-size: 2em;
  width: 3em;
}
 header h1 {
   order: 2;
   font-size: 2em;
 }

 nav ul {
   display: none;
 }
 @media screen and (min-width: 700px) {
   nav ul {
     display: flex;
   }
   nav ul li {
     border-top: none;
   }
   .menu-trigger {
     display: none;
   }
   header h1 {
     order: 1
   }
   nav {
     order: 2;
   }
 }
