body {
  text-align: center;
  background-color: rgb(33, 193, 1);

}
#container {
  background-color: rgb(12, 2, 254);
  font-family: "Crimson Text", Georgia, serif;
  font-size: 20pt;
}

#joke {
  background-color: rgb(255, 255, 255);
}
#joke a:link, #joke a:visited {
  display: block;
  font-weight: bold;
  padding: 8px;
  font-family: "Roboto", "Lato", sans-serif;
  width: auto;
  text-align: center;
}
#joke a:hover, #joke a:active {
    background-color: rgb(163, 245, 255);
}

#image {
  background-color: rgb(0, 0, 0);
}

img {
  border: none;
}

#footer {
  background-color: rgb(255, 255, 255);
  font-family: "Crimson Text", "Times New Roman", serif;
  font-size: 10pt;
  text-align: right;
}

#nav {
  background-color: rgb(255, 255, 255);
  font-size: 14pt;
  list-style-type: none;
}

#nav a:link, #nav a:visited {
  display: block;
  font-weight: bold;
  padding: 8px;
  font-family: "Roboto", "Lato", sans-serif;
  width: auto;
  text-align: center;
}

#nav a:hover, #nav a:active {
  background-color: rgb(163, 245, 255);
}
